/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-size: 18px;
}
.content{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
a{
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    color: #707070;
}
h1{
    font-size: 2rem;
    font-weight: 600;
    color: #707070;
    margin: 30px 0;
}
h2{
    font-size: 1.2rem;
    font-weight: 500;
    color: #707070;
}
p{
    color: #707070;
    font-size: .8rem;
    line-height: 1.2;
}
a:hover{
    color: #1869FF;
    transition: .5s;
}

/* .container{
    margin-bottom: 3rem;
} */


/* navbar */
.navbar{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    flex-basis: 30%;
}

.logo a{
    color: #1869FF;
    filter: brightness(100%);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.logo a:nth-child(2) {
    color: #524b3e;
}
.navbar-menu{
    flex-basis: 70%;
    text-align: end;
}
.navbar-menu a{
    padding-right: 2rem;
    
}
.btn{
    padding: 2px 20px;
    border: 2px solid #1869FF;
    border-radius: 20px;
}
/* mibile navbar */
.mobile-nav {
    display: none;
    overflow: hidden;
    /* position: relative; */
    background-color: #ddd;

}
#myLinks{
 display: none;
 padding-top: 1.5rem;
}
.mobile-nav a{
    color: #1869FF;
    padding: 14px 16px;
    font-size: 17px;
    display: block;
}
.mobile-nav a.icons{
    background: #ddd;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 10px;
}
.mobile-nav a:hover{
    background-color: #1869FF;
    color: #ddd;
}

/* header Part */

.header{
    width: 100%;
    height: 85%;
    background-color: #F6F5F3;
}


.header-content{
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    display: flex;
}
.header-image{
    flex-basis: 60%;
}
.header-image img{
    width: 100%;
    height: 100%;
}
.header-text{
    flex-basis: 40%;
    background-color: #F6F5F3;
    padding: 0 1rem;
    text-align: start;
    margin-top: 5rem;
}
.header-text h3{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: .8rem;
    color: #524b3e;
}
.header-text h2{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.3;
}
.header-text p{
    
    padding-bottom: 1rem;
}
.header-text a{
    font-size: .8rem;
    font-weight: 500;
    margin-top: 1em;
    border-radius: 20px;
    padding:  10px 20px;
    background-color: #1869FF;
    cursor: pointer;
    color: #fff;
}
.header-text a:hover{
    transition: .7s;
    transform: scaleY(1);
    color: #1869FF;
    background-color: #fff;
}


/*  service section */

.service{
   background-color: #ffffff;
   overflow: hidden;
   width: 100%;
   height: 50%;
   text-align: center;
   color: #707070;
}
.services{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 50px;
}
.services-items:hover{
    background-color: #1869FF;
    color: #fff;
    transition: .5s;
    transform: scale(1);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
.services-items:hover i,
.services-items:hover h2,
.services-items:hover p{
    color: #fff;
}
.services-items a i{
    color: #1869FF;
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
.services-items h2{
    font-size: 1.2rem;
    font-weight: 500;
}
.services-items p{
    font-size: 16px;
    line-height: 1.2;
    padding-top: 10px;
    /* margin-top: .8rem; */
}


/* portfolio-items */

.portfolio{
    width: 100%;
    background-color: #F4F4F4;
    margin-bottom: 1rem;
    text-align: center;
}
.portfolio-project{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 2rem;
}
.portfolio-project .portfolio-items{
    flex-basis: 33%;
    padding: 10px;
    border: none;
}
.project-link img{
    width: 100%;
}

/* contact-section */

.contact-section{
    width: 100%;
    height: 35%;
    margin-top: 2rem;
}
.contact{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.contact-text{
    flex-basis: 70%;
    padding: 10px;
}
.contact-btn{
    flex-basis: 30%;
    
    text-align: center;
    transition: .5s;
    margin: 0 auto;
}
.contact-btn a{
    padding: 5px 20px;
    border: 2px solid #1869FF;
    border-radius: 20px;
}
.contact-btn:hover{
    transform: scale(1.1);
}

/* about-section */

.about-section{
    width: 100%;
    height: 100%;
    padding-top: 2rem;
    background-color: #F4F4F4;
    padding-bottom: 2rem;
    text-align: center;
}
.about-me{
    width: 100%;
    height: 100%;
}
.about-me h1{
    font-size: 2.5rem;
    font-weight: 400;
    color: #000;
    line-height: 1.2;
}
.about-me img{
    width: 200px;
    height: 200px;
    border: 10px solid #ffffff;
    border-radius: 50%;
}
.about-me h4{
    font-size: 1.5rem;
    padding: 10px 0 0;
}
.about-me h5{
    font-size: 1.2rem;
    color: #707070;
}
.about-me p{
    font-size: 1rem;
    padding: 20px 30px 0;
}

/* slider */
/* .about-me-01,
.about-me-02,
.about-me-03{
    display: none;
} */

/* footer */
footer{
    width: 100%;
    height: 20%;
}
.footer{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.footer-navber{
    flex-basis: 60%;
}
.footer-navber a{
    padding-left: 20px;
    padding-bottom: 10px;
}
/* .footer .search{
    border: 1px solid #707070;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
} */
.footer .search input{
    width: 80%;
    border: 2px solid #3c3737;
    border-radius: 20px;
    padding-left: 10px;
}
.footer .search  button{
    margin-left: -35px;
    text-align: center;
    border: none;
    background: #fff;
    cursor: pointer;
}
.footer .search  button i{
    color: #707070;
}
.social-link{
    width: 100%;
    height: 50%;
    text-align: center;
}
.social-link a{
    padding-left: 1rem; 
}

.social-link a i{
    font-size: 1.3rem;
    transition: .8s;
    padding: 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #6c5555;
    color: #d2cec6;
}
.social-link a:hover i{
    color: #1869FF;
    transform: scale(1.1);
    background-color: #fff;
}
